// ============================================================
// Display Utilities
// ============================================================

@layer utilities {
  .cyber-hidden {
    display: none;
  }

  .cyber-block {
    display: block;
  }

  .cyber-inline {
    display: inline;
  }

  .cyber-inline-block {
    display: inline-block;
  }

  .cyber-flex {
    display: flex;
  }

  .cyber-inline-flex {
    display: inline-flex;
  }

  .cyber-grid {
    display: grid;
  }
}
